#newest {
	padding: 10px;
	
	h2 {
		padding: 0;
		margin: 0 0 10px 0;
	}
	
	& > article {
		border-bottom:1px #a7ef6e dashed;
		padding-bottom: 10px;
		margin-bottom: 10px;
		overflow: auto;
		
		h3 {
			margin: 0 0 5px 0;
			color:#59cef9;
		}
		
		.article_thumb {
			float: left;
			margin-right: 10px;
		}
		
		.newest_right_section {
			overflow: auto;
		}
		
		.read_more_link {
			float:right;
			padding:3px 25px 3px 0;
			background:url(../images/orange_bullet.gif) no-repeat right;
			color:#06F;
			
		}
	}
}
