article, aside, footer, header, main, nav, section {
	display: block;
}

body {
	background-color: #D7DFE2;
	margin:0px;
	padding:0px;
	font-family: verdana, arial, helvetica;
	color: #416271;
}

.page_title {
	color: #0099CC;
}

.clear {
	clear:both;
}

img.left_img{
	border:1px #cae6c6 solid;
	float:left;
	margin:0 10px 0 0 ;
}

img.box_img{
	float:left;
	padding:0 20px 0 0 ;
}

#main_container{
	width:900px;
	height:auto;
	margin:auto;
	background-color:#FFFFFF;
}

#logo {
	padding: 15px 0 0 30px;
	float: left;
}

#login {
	position:relative;
	float:right;
	right: 30px;
	top: 20px;
	
	label {
		display: inline-block;
		width: 5em;
	}
	
	.form_field input {
		width: 8em;
	}
}

.register {
	padding: 10px;
	line-height: 1.5;
	
	h1 {
		margin: 0 0 10px 0;
	}
	
	label {
		display: inline-block;
		width: 8em;
	}
	
	.form_field input {
		width: 8em;
	}
}

.message {
	background-color: #ffc7c7;
	padding: 10px;
}

@import 'menu';

@import 'sub_header';

/*--------------------------main_content-------------------*/
#main_content {
	width:auto;
	height:auto;
	clear:both;
}
#left_content {
	width:320px;
	height:auto;
	margin:10px;
	float:left;
	padding:10px;
	background:url(../images/left_content_bg.gif) repeat-x top;
}
#right_content {
	width:490px;
	height:auto;
	margin:10px 0 0 0;
	float:left;
	padding:10px;
}

footer {
	clear: both;
	color: #fff;
	background-color: #416271;
	padding: 10px;
}
